@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition-property: background, height;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
    height: 400px; 
    background: url(imagenes/inicio.jpg);
    background-position-y: -620px;
}
header.abajo{
    background: #fff ;
    padding: 15px 20px;
    height: auto;
    transition-property: background, height;
    transition: 0.7s;
}

header.abajo nav{
    
    display: flex;
}

header.abajo .logo{
    font-size: 2em;
}

header.abajo .logo, header.abajo ul li a{
    color: #000;
    background: transparent;
    transition: 0.7s;
    
}

header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 2px;
    transition: 1.5s;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Glitch', cursive;
}

nav{
    justify-content: center;
    align-items: center;
    background: transparent;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

header ul li{
    list-style: none;
    background: transparent;
}

header ul li a{
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    background: transparent;
    font-family: 'Anton', sans-serif;
}
header ul li a.registro{
    color: #000;
    background: gray;
    padding: 10px;
}



.zona1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 500px;
    z-index: 2;
    color: #fff;
    position: relative;
    width: 100%;
    height: auto;
    background: rgb(218,7,42);
    background: radial-gradient(circle, rgba(218,7,42,1) 50%, rgba(65,65,65,1) 98%);
    
}

.imag{
    background: url(imagenes/reini.png);
    background-size: cover;
    background-position: center center;
    width: 20%;
    height: 70%;
    margin: auto;
}

.re{
    align-items: center;
    background-color: #000;
    width: 40%;
    height: 70%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: 'Anton', sans-serif;
}
.re h1{
    font-family: 'Rubik Glitch', cursive;
    font-size: 2em;
    
}

.enviar{
    font-size: 2em;
    color: #fff;
    border: 1px solid;
    border-color: red;
    padding: 20px;
    background-color: transparent;
    font-family: 'Anton', sans-serif;
}

.enviar:hover{
    background-color: #CA07DE;
    color: #000;
    transition: 0.3s;
}

.Registro{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(imagenes/registro.png);
    background-size: cover;
}

.reg, .regim{
    font-size: 2em;
}

input{
    font-family: 'Anton', sans-serif;
    color: #fff;
    border: 0.5px solid red;
    background: transparent;
}
input:hover, select:hover, #deseve:hover{
    background-color: #CA07DE;
    color: #000;
    transition: 0.3s;
}

.zona2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    z-index: 2;
    position: relative;
    width: 100%;
    height: auto;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(145,145,145,1) 100%);
}
.zona2 div h1{
    margin: auto;
}
.zona1abajo{
    transition-property: padding-top;
    transition: 0.7s;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: #fff;
    position: relative;
    width: 100%;
    height: auto;
    background: rgb(218,7,42);
    background: radial-gradient(circle, rgba(218,7,42,1) 50%, rgba(65,65,65,1) 98%);
}

.zona1 p, .zona1 p p p{
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    width: 70%;
    font-size: 3em;
    font-family: 'Anton', sans-serif;
}

.concierto{
    background: url(imagenes/conci.jpg);
}
.deportes{
    background: url(imagenes/fut.jpg);
}
.cultura{
    background: url(imagenes/teatro.jpg);
}
.concierto, .cultura, .deportes{
    margin: auto;
    background-size: cover;
    text-align: center;
    color: #000;
    width: 25%;
    height: 300px;
    font-family: 'Anton', sans-serif;
    padding: 100px 30px;
}
footer{
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.concierto:hover, .cultura:hover, .deportes:hover{
    margin: auto;
    background-size: cover;
    background-color: #CA07DE;
    transition: 0.5s;
    opacity: 0.3;
    text-align: center;
    align-items: center;
    width: 25%;
    height: 300px;
    font-family: 'Anton', sans-serif;
    padding: 100px 30px;
}

.concierto:hover h1, .cultura:hover h1, .deportes:hover h1{
    margin-top: auto;
    opacity: 1;
    transition: 0.5;
    font-size: 2em;
}

.adminvista{
    width: 90%;
    height: auto;
    align-items: center;
    margin: auto;
    padding-top: 100px;
}

.gevento{
    width: 90%;
    height: auto;
    padding-top: 100px;
    margin: auto;
}

.gevento h2{
    font-size: 3em;
    color: #fff;
    font-family: 'Anton', sans-serif;
    
}

.ev{
    background-color: #000;
    margin: auto;
    text-align: center;
    padding: 30px;
    padding-bottom: 40pxz;
}

label{
    color: #fff;
    font-family: 'Anton', sans-serif;
}
select{
    width: auto;
    background: transparent;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    border: 1px solid;
    border-color: red;
}

#deseve{
    width: 75%;
    background: transparent;
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    color: #fff;
    border: 1px solid;
    border-color: red;
}

#fecha, #hora{
    font-size: 2em;
}

.lista{
    width: 90%;
    background-color: #fff;
    height: auto;
    margin: auto;
    align-items: center;
    font-family: 'Anton', sans-serif;
    color: #000;
    padding: 20px;
    margin-top: 100px;
}

.event{
    width: 80%;
    height: auto;
    padding: 10px;
    display: flex;
    border: 1px solid black;
    margin: auto;
    transition: transform 0.3s;
    
}
.event:hover{
    transform: scale(1.05);
}

.even{
    font-size: 1.5em;
    max-width: 10%;
    min-width: 10%;
}

.eved{
    font-size: 1em;
    max-width: 50%;
    min-width: 50%;
}
.evev{
    font-size: 1em;
    text-decoration: none;
    color: #000;
}

.even, .eved, .evev{
    padding: 0px 20px;
    margin: auto;
    
}
.pantallaveneto{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    height: auto;
    padding: 20px;
    font-family: 'Anton', sans-serif;
    color: #000;
    background: #fff;
    text-align: center;
}

.lugarevento{
    width: 90%;
    align-items: center;
    text-align: center; 
    margin: auto;
}

.tit{
    font-size: 3em;
    color: #fff;
    text-align: center;
    padding:  20px;
}
.refe{
    font-size: 1.2em;
    color: #999190;
    margin: auto;
}

.dato{
    font-size: 1.2em;
    color: #fff;
    margin: auto;
}

a.dato{
    font-size: 1.2em;
    color: #fff;
    margin: auto;
    text-decoration: none;
}

a.dato:hover{
    color: #CA07DE;
}

.mdatos{
    margin-top: 100px;
}