[Unit]
Description=Proyecto para el hackaton

[Service]
User=root
WorkingDirectory=/home/ubuntu/hackaton/Front
ExecStart=npm start
Restart=on-failure
