---
export interface Props {
    titulo: string;
}
const { titulo } = Astro.props
---
<h2>{titulo}</h2><br>
<form action="" method="post" onsubmit="send(event)">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"><br><br>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password"><br><br>
    <button id="Enviar" type="submit">Iniciar Sesion</button>
</form>

<script type="text/javascript">
    var btn = document.getElementById("Enviar");
    
    async function send(e){
        e.preventDefault();
        var  email = document.getElementById("email");
        var pass = document.getElementById("password");
        var data  = new URLSearchParams();
        data.append( "name", email.value);
        data.append( "password", pass.value);
            let resolt = await fetch("http://www.ozpineapple.xyz:3000/login",{
                method: 'post', body:data,
            });
            var sta = resolt.status;
            console.log(resolt);
            switch (sta) {
                case 200:
                    resolt = await resolt.json();
                    alert("Bienvenido!");
                    var token = resolt.token;
                    var tipo = resolt.user_data.usrT.toString();
                    console.log(resolt);
                    console.log(token);
                    console.log(tipo);
                    localStorage.setItem("token",token);
                    switch (tipo) {
                        case "1":
                            window.open("/IndexAdmin/","_self");
                            break;
                        case "2":
                            window.open("/IndexUser","_self");
                            break;
                        case "3":
                            window.open("IndexOrga","_self");
                            break;
                        case "4":
                            window.open("IndexGuardia","_self");
                            break
                        default:
                            console.log("Mamo");
                            break;
                    }
                    break;
                case 404:
                    alert("Usuario no existe");
                    break;
                    case 500:
                    alert("Error en servidor");
                    break;
                    case 502:
                        alert("Solana se disocio");
                        break;
                        case 401:
                            alert("Error dde contraseña");
                            break;
            }
        }
        
    </script>