---
import Base from "../layouts/Base.astro";
import MenuC from "../layouts/MenuC.astro";
import InDatosC from "../components/InDatosCyA.astro";
---
<Base titulo="Cambio de datos">
    <MenuC />
    <p>Cambio de datos</p>
    <InDatosC>
        <button>Cambiar dator</button>
    </InDatosC>
</Base>