---
import Base from "../layouts/Base.astro";
import Menub from "../layouts/Menub.astro";
import MenuC from "../layouts/MenuC.astro";
var Menuf;
if (localStorage.getItem("token")!="") {
     Menuf = MenuC;
} else {
     Menuf = Menub;
}
---
<Base titulo="">

    <Menuf />
    <h2>Se muestra la informacion del evento</h2>
    
    <button id="Comprar">Comprar boletos</button>
</Base>

<script>
    var btn = document.getElementById("Comprar");
    btn.addEventListener("click", function noc(e) {
        e.preventDefault();
        window.open("/NumBol","_self")
    })
</script>