---
import Base from "../layouts/Base.astro";
import Menub from "../layouts/Menub.astro";
import MenuC from "../layouts/MenuC.astro";
var Menuf;
if (localStorage.getItem("token")!="") {
     Menuf = MenuC;
} else {
     Menuf = Menub;
}
---
<Base titulo="">

    <Menuf />
    <section>
        <h2 style="font-size: 3em;" class="nevent" id="nom">Nombre del evento</h2><br>
        <p style="width: 80%;margin: auto;" id="des"></p>
        <br><br>
        <h2  class="" >Lugar del evento</h2><br>
        <label for=""   id="orga" >Nombre del recinto</label>  
        <label for=""  >Tipo de evento:</label>
        <label for=""  id="ty">Aqui va el tipo de evento xd</label>
        <label for="">Precio del boleto (soles): $</label>
        <label for=""id="pre">Aqui va el precio del evento xd</label>
        <br><br>
        <label  >Lugares totales:</label>
        <label  id="lug">Lugares</label>
        <label  >Lugares disponibles:</label>
        <label  id="lugd">Lugares</label>
        <br>
        <button id="Comprar">Comprar boletos</button>
    </section>
    
 
    
</Base>
<style>
    section{
        width: 40%;
        margin: auto;
        text-align: center;
    }
    label{
        color: #fff;
    }
    #Comprar{
        
    }
</style>

<script>
    var btn = document.getElementById("Comprar");
    btn.addEventListener("click", function noc(e) {
        e.preventDefault();
        window.open("/NumBol","_self")
    })
    function cargar() {
            var nom = localStorage.getItem("nom");
            var descri = localStorage.getItem("des");
            var roganizacion = localStorage.getItem("or");
            var tipo = localStorage.getItem("ty");
            var precio = localStorage.getItem("pre");
            var lu = localStorage.getItem("lu");
            var ludis = localStorage.getItem("dis");

            var nomre = document.querySelector("#nom");
            var des = document.querySelector("#des");
            var organi = document.querySelector("#orga");
            var ty = document.querySelector("#ty");
            var pre = document.querySelector("#pre");
            var lug = document.querySelector("#lug");
            var lugd = document.querySelector("#lugd");

            nomre.innerText = nom;
            des.innerText = descri;
            organi.innerText = roganizacion;
            ty.innerText = tipo;
            pre.innerText = precio;
            lug.innerText = lu;
            lugd.innerText = ludis;
            
            localStorage.removeItem("nom");
            localStorage.removeItem("des");
            localStorage.removeItem("or");
            localStorage.removeItem("ty");
            localStorage.removeItem("pre");
            localStorage.removeItem("lu");
            localStorage.removeItem("dis");
        }
        window.onload = (event) => {
            cargar();
        };
</script>