---
import Base from "../layouts/Base.astro";
import MenuGuardia from "../layouts/MenuGuardia.astro";
import BaseEvento from "../layouts/BaseEvento.astro";
---
<Base titulo="Index Guardia">
    <MenuGuardia />
    <h2>Eventos disponibles para revisar qr</h2>
    <BaseEvento nombre="Nombre del evento" des="sfsaad" fecha="Hoy"></BaseEvento>
</Base>

<style>
    h2{
        margin: auto;
        text-align: center;
        width: 100%;
        padding: 20px;
    }
</style>