---
import Base from "../layouts/Base.astro";
import Isesion from "../components/Isesion.astro";
import Menub from "../layouts/Menub.astro";
---

<Base titulo="Inicio de Sesión">
    <Menub></Menub><br>
    <section>
        
        <Isesion titulo="Inicio de sesión"/>
        
    </section>
</Base>

