---
import Base from "../layouts/Base.astro";
import MenuAdmin from "../layouts/MenuAdmin.astro";
import DatosEvento from "../components/DatosEvento.astro";


---

<Base titulo="Nueva vista">
    <MenuAdmin />
    <DatosEvento titulo="Nuevo evento">
        <button id="Enviar" type="submit">Subir</button>
    </DatosEvento>
</Base>

<script type="text/javascript">
    var btn = document.getElementById("Enviar");

   

    async function send(e,form) {
        e.preventDefault();
        var header = "Bearer "+localStorage.getItem("token");
        
            let resolt = await fetch("http://www.ozpineapple.xyz:3000/admin/event/new",{
                method: 'post', body:new URLSearchParams(new FormData(form)), headers:{'Authorization':header},
            });
            var sta = resolt.status;
            console.log(resolt);
            switch (sta) {
                case 202:
                    alert("Registro exitoso")
                    window.open("/IndexAdmin", "_self");
                    break;
                case 404:
                    alert("Usuario no existe");
                    break;
                    case 500:
                    alert("Error en servidor");
                    break;
                    case 502:
                        alert("Solana se disocio");
                        break;
                        case 401:
                            alert("Error dde contraseña");
                            break;
            }
    }
    
  
        
    </script>