---
import Base from "../layouts/Base.astro";
import MenuC from "../layouts/MenuC.astro";
---

<Base titulo="Datos el usuario">
    <MenuC />
    <label for="">Nombre:</label><label for="" id="Dato">Nombre del usuario</label><br><br>
    <label for="">Correo</label><label for="" id="Dato">Correo</label><br><br>
    <label for="">Wallet</label><label for="" id="Dato"><a href="">Aqui va la wallet xd</a></label><br><br>
    <button id="Modificar">Editar Datos</button>
    <button id="Modificar">Borrar cuenta</button>
</Base>

<script>
    var btn = document.getElementById("Modificar");
    btn.addEventListener("click", function name(e) {
        e.preventDefault();
        window.open("/EUser","_self");
    })
    async function send(e){
        e.preventDefault();
        var data  = new URLSearchParams();
        console.log(localStorage.getItem("token"));
        var header = "Bearer "+localStorage.getItem("token");
        data.append( "name", "admin");
            let resolt = await fetch("http://localhost:3000/client",{
                method: 'get', headers:{'Authorization':header},
            });
            var sta = resolt.status;
            switch (sta) {
                case 200:
                    alert("Bienvenido!");
                    

                    //
                    break;
                case 404:
                    alert("Usuario no existe");
                    break;
                    case 500:
                    alert("Error en servidor");
                    break;
                    case 502:
                        alert("Solana se disocio");
                        break;
                        case 401:
                            alert("Error dde contraseña");
                            break;
            }
        }
        window.onload = (event) => {
            send(event);
        };
        
</script>