---
export interface Props {
    nombre: string;
    des: string;
    fecha: string;
}
const { nombre, des, fecha } = Astro.props
const Marco = "div";
const Titulo = "div";
const Fecha = "div";
const Des = "div";
const Ver = "div";

var Devento=["uno"," dos"];


---

<Marco><!--Esta parte se actualizara al map -->
    <Titulo>
        <h1>{nombre}</h1>
    </Titulo>
    <Des>
        <p>{des}</p>
    </Des>
    <Fecha>
        <p>{fecha}</p>
    </Fecha>
    <Ver>
        <a href={"/Evento"}>Ver más...</a>
    </Ver>
</Marco>