---
export interface Props {
    nombre: string;
    des: string;
    fecha: string;
}
const { nombre, des, fecha } = Astro.props
---

<h2 class="header">Reventas</h2>
<div class="Marco"><!--Esta parte se actualizara al map -->
    <div class="Titulo">
        <h2>{nombre}</h2>
    </div>
    <div class="Des" >
        <p>{des}</p>
    </div>
    <div class="Fecha">
        <p>{fecha}</p>
    </div>
    <div class="Ver">
        <a href={"/Evento"}>Ver más...</a>
    </div>
</div>

<style>
    div{
        border: 1px solid;
        display: flex;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    div div{
        border: none;
        width: auto;
        padding: 10px;
    }
    .Des{
        max-width: 40%;
        min-width: 40%;
        margin: 0px;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    h2{
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .header{
        width: auto;
        padding: 20px;
    }
    .Titulo{
        max-width: 35%;
        min-width: 35%;
        margin: 0px;
    }
    
</style>