<nav>
    <ul>
        <li><a href="/"> Inicio</a></li>
        <li><a href="/Registro"> Registrarse</a></li>
        <li><a href="/IniciarSesion"> Iniciar Sesion</a></li>
        <li><a href="/Eventos"> Eventos</a></li>
    </ul>
</nav>

<style is:global>
    a{
        text-decoration: none;
        color: red;
    }
</style>