<nav>
    <ul>
        <li><a href="/IndexUser">Inicio</a></li>
        <li><a href="/Eventos"> Eventos</a></li>
        <li><a href=""> Usuario
            <ul>
                <li><a href="/Usuario">Perfil</a> </li>
                <li>Boletos en posesion</li>
                <li>Re-vender boleto</li>
                <li>Cerrar sesion</li>
            </ul>
        </a></li>
    </ul>
</nav>

