<nav>
    <ul>
        <li><a href="/"> Inicio</a></li>
        <li><a href="/Eventos"> Eventos</a></li>
        <li><a href="/IniciarSesion"> Iniciar Sesion</a></li>
        <li><a href="/Registro"> Registrarse</a></li>
    </ul>
</nav>

