<nav>
    <ul>
        <li><a href=""> Ver eventos</a></li>
        <li><a href=""> Re-Ventas</a></li>
        <li><a href=""> Ver compras</a></li>
        <li><a href=""> Perfil</a></li>
    </ul>
</nav>

<style>
    a{
        text-decoration: none;
    }
</style>