<nav>
    <img src="/images/TICKETMUNSTERLOGOTIPO.png" alt="">
    <ul>
        <li><a href="/IndexGuardia"> Inicio</a></li>
        <li><a href="/EventosGuardia">Eventos disponibles</a></li>
        <li>Cerrar sesion</li>
    </ul>
</nav>

