<nav>
    <ul>
        <li><a href="/ListarU"> Clientes</a></li>
        <li>Organizadores
            <ul>
                <li>Listar</li>
                <li>registrar</li>
            </ul>
        </li>
        <li>Admin
            <ul>
                <li>Registrar nuevo admin</li>
                <li>Administrar admin</li>
            </ul>
        </li>
        <li>Evento
            <ul>
                <li>Dar de alta</li>
                <li>Listar eventos</li>
            </ul>
        </li>
        <li ><a href="" >Cerrar sesion</a> </li>
    </ul>
</nav>

<style>
    
</style>