<nav>
    <ul>
        <li><a href="/ListarU"> Clientes</a></li>
        <li>Organizadores
            <ul>
                <li>Listar</li>
                <li>registrar</li>
            </ul>
        </li>
        <li>Admin
            <ul>
                <li>Registrar nuevo admin</li>
                <li>Administrar admin</li>
            </ul>
        </li>
        <li>Evento
            <ul>
                <li>Dar de alta</li>
                <li>Listar eventos</li>
            </ul>
        </li>
        <li>Cerrar sesion</li>
    </ul>
</nav>

<style is:global>
    a{
        text-decoration: none;
        color: red;
    }
</style>