<nav>
    <img src="/images/TICKETMUNSTERLOGOTIPO.png" alt="">
    <ul>
        <li><a href="/IndexUser">Inicio</a></li>
        <li><a href="/Eventos"> Solicitar evento nuevo</a></li>
        <li><a href="">Solicitar cambio de evento</a></li>
        <li><a href="">Solicitar baja de evento</a></li>
    </ul>
</nav>